/*#wb-main-in form input:not([type=submit]):not([type=file]):not([type=checkbox]):not([type=reset]):not([type=button]), form.elgg-form-login input:not([type=submit]):not([type=file]):not([type=checkbox]):not([type=radio]) {
	    border: 5px solid rgba(153,153,153,0.5);
	    background: rgba(255,255,255,0.5);
	    border-radius:0;
}

#wb-main-in form input:hover:not([type=submit]):not([type=file]):not([type=checkbox]):not([type=reset]):not([type=button]), form.elgg-form-login input:hover:not([type=submit]):not([type=file]):not([type=checkbox]):not([type=radio]){
		border:5px solid rgba(51,80,117,0.5);
}

#wb-main-in form input:focus:not([type=submit]):not([type=file]):not([type=checkbox]):not([type=reset]):not([type=button]), form.elgg-form-login input:focus:not([type=submit]):not([type=file]):not([type=checkbox]):not([type=radio]){
	border:5px solid #335075;
	background: rgba(255,255,255,0.5);
}*/
.col-3, .col-4 {
  float: left;
  margin: 0;
  padding: 0; }

.col-4 {
  width: 33.3%; }

.col-3 {
  width: 25%; }

#fancybox-outer #fancybox-content > div > div {
  padding: 1rem; }

#wb-main-in {
  background: #fff !important;
  /* System Message Styles
  *****************************/ }
  #wb-main-in .elgg-page-body {
    padding: 0;
    background: whitesmoke !important; }
    #wb-main-in .elgg-page-body .elgg-body.elgg-main {
      padding: 20px 10px; }
    #wb-main-in .elgg-page-body h2 {
      padding-bottom: 0; }
  #wb-main-in .elgg-menu-site {
    z-index: 2; }
  #wb-main-in .sort-control {
    font-size: 2em; }
  #wb-main-in .elgg-menu-entity {
    height: auto; }
  #wb-main-in #event_manager_event_edit > fieldset > table td {
    padding: 8px; }
  #wb-main-in .elgg-state-success {
    background: #335075;
    opacity: 1 !important; }
  #wb-main-in form.elgg-form-login input[type="text"] {
    height: auto; }
  #wb-main-in form input[type=text], #wb-main-in form [type='password'], #wb-main-in form [type="file"], #wb-main-in form select, #wb-main-in form textarea {
    border: 5px solid rgba(153, 153, 153, 0.5);
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0; }
    #wb-main-in form input[type=text]:hover, #wb-main-in form [type='password']:hover, #wb-main-in form [type="file"]:hover, #wb-main-in form select:hover, #wb-main-in form textarea:hover {
      border: 5px solid rgba(51, 80, 117, 0.5); }
    #wb-main-in form input[type=text]:focus, #wb-main-in form [type='password']:focus, #wb-main-in form [type="file"]:focus, #wb-main-in form select:focus, #wb-main-in form textarea:focus {
      border: 5px solid #335075;
      background: rgba(255, 255, 255, 0.5); }
  #wb-main-in form label {
    margin-bottom: 6px; }
  #wb-main-in .elgg-river-responses form {
    height: auto; }
  #wb-main-in a.elgg-button-delete {
    background: #ff0000 !important;
    -webkit-box-shadow: 1px 0px #7F0000, 0px 1px #400000, 2px 1px #7F0000, 1px 2px #400000, 3px 2px #7F0000, 2px 3px #400000, 4px 3px #7F0000, 3px 4px #400000;
    box-shadow: 1px 0px #7F0000, 0px 1px #400000, 2px 1px #7F0000, 1px 2px #400000, 3px 2px #7F0000, 2px 3px #400000, 4px 3px #7F0000, 3px 4px #400000; }
    #wb-main-in a.elgg-button-delete:active {
      -ms-transform: translate(2px, 2px);
      -webkit-transform: translate(2px, 2px);
      transform: translate(2px, 2px);
      -webkit-box-shadow: 1px 0px #7F0000, 0px 1px #400000, 2px 1px #7F0000, 1px 2px #400000;
      box-shadow: 1px 0px #7F0000, 0px 1px #400000, 2px 1px #7F0000, 1px 2px #400000; }
  #wb-main-in .elgg-breadcrumbs li a {
    font-size: 1.5em;
    font-weight: 500; }
  #wb-main-in .elgg-widgets {
    float: left; }
  #wb-main-in .elgg-module-widget {
    overflow: visible;
    background-color: transparent;
    margin: 0 .5rem 1.5rem;
    padding: 0; }
    #wb-main-in .elgg-module-widget .elgg-button-action {
      margin-bottom: 10px; }
    #wb-main-in .elgg-module-widget .elgg-head {
      height: auto; }
      #wb-main-in .elgg-module-widget .elgg-head h3 {
        padding: 10px 20px; }
    #wb-main-in .elgg-module-widget > .elgg-body {
      overflow: visible;
      -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }
    #wb-main-in .elgg-module-widget .widget-button {
      display: block;
      width: 150px;
      border: 1px solid #335075;
      background: none;
      margin: 0px 1.125rem 1.5rem 0;
      padding: 10px 0;
      text-align: center;
      text-decoration: none;
      color: #335075;
      font-size: 1.33em;
      font-weight: normal;
      letter-spacing: 2px; }
    #wb-main-in .elgg-module-widget .widget-button:hover {
      background: #335075;
      border-color: #fff;
      color: #fff; }
  #wb-main-in .elgg-widget-instance-index_activity .elgg-widget-content {
    padding: 10px; }
    #wb-main-in .elgg-widget-instance-index_activity .elgg-widget-content ul#activity-filter li {
      float: left;
      background: #DBDBDB;
      margin: 0;
      color: rgba(102, 102, 102, 0.8);
      border-top: 3px solid #DBDBDB; }
    #wb-main-in .elgg-widget-instance-index_activity .elgg-widget-content ul#activity-filter li.active, #wb-main-in .elgg-widget-instance-index_activity .elgg-widget-content ul#activity-filter li:hover {
      background: whitesmoke;
      color: #111;
      border-top: 3px solid #335075; }
    #wb-main-in .elgg-widget-instance-index_activity .elgg-widget-content ul#activity-filter a {
      display: inline-block;
      font-size: 1rem;
      padding: .625rem 1.5rem;
      color: inherit; }
    #wb-main-in .elgg-widget-instance-index_activity .elgg-widget-content ul#activity-filter a:hover, #wb-main-in .elgg-widget-instance-index_activity .elgg-widget-content ul#activity-filter a:active, #wb-main-in .elgg-widget-instance-index_activity .elgg-widget-content ul#activity-filter a:focus {
      text-decoration: none; }
    #wb-main-in .elgg-widget-instance-index_activity .elgg-widget-content .elgg-list-river {
      background: whitesmoke;
      border-top: none;
      margin: 0;
      border-radius: 0px; }
    #wb-main-in .elgg-widget-instance-index_activity .elgg-widget-content div#more {
      clear: both; }
  #wb-main-in .elgg-widget-instance-index_groups ul {
    border: none; }
    #wb-main-in .elgg-widget-instance-index_groups ul li {
      border: none; }
      #wb-main-in .elgg-widget-instance-index_groups ul li a {
        font-weight: normal;
        font-size: inherit; }
  #wb-main-in .elgg-widget-content {
    position: relative;
    box-shadow: none; }
    #wb-main-in .elgg-widget-content h3.widget-header {
      color: #191919;
      font-size: 1.5rem;
      line-height: 1.5em;
      font-weight: normal;
      padding: 0;
      margin: .375rem 0 1rem; }
    #wb-main-in .elgg-widget-content .widget-your-network h3.widget-header {
      font-size: .875rem;
      width: 96% !important; }
    #wb-main-in .elgg-widget-content label.widget-label {
      float: left; }
    #wb-main-in .elgg-widget-content select.widget-select {
      height: auto;
      min-width: 0;
      margin-left: 10px;
      background: #DBDBDB;
      border-radius: 0;
      padding: 4px 6px; }
    #wb-main-in .elgg-widget-content select.widget-select:focus {
      border-color: #176ca7; }
    #wb-main-in .elgg-widget-content .ajax-spinner {
      text-align: center; }
    #wb-main-in .elgg-widget-content .widget-your-network ul {
      margin: 10px 0; }
      #wb-main-in .elgg-widget-content .widget-your-network ul li {
        border-left: 3px solid #335075;
        padding: .375rem 0 .25rem 8px;
        margin-bottom: .375rem;
        line-height: 1; }
        #wb-main-in .elgg-widget-content .widget-your-network ul li a {
          font-size: 1rem; }
      #wb-main-in .elgg-widget-content .widget-your-network ul li:nth-of-type(5) a {
        margin-right: 9px; }
      #wb-main-in .elgg-widget-content .widget-your-network ul li:hover {
        border-left: 4px solid #2c3e50; }
      #wb-main-in .elgg-widget-content .widget-your-network ul li span {
        float: right;
        position: relative;
        bottom: 1px;
        background: #335075;
        color: #fff;
        padding: 3px 6px;
        border-radius: 4px; }
    #wb-main-in .elgg-widget-content .widget-your-network .widget-button {
      margin-top: 20px; }
    #wb-main-in .elgg-widget-content .widget-your-network .my-profile {
      margin-bottom: 10px; }
      #wb-main-in .elgg-widget-content .widget-your-network .my-profile > div {
        float: left;
        margin: 0;
        width: 50%; }
      #wb-main-in .elgg-widget-content .widget-your-network .my-profile > div:nth-of-type(2) {
        width: 45%; }
      #wb-main-in .elgg-widget-content .widget-your-network .my-profile img {
        width: 100%; }
      #wb-main-in .elgg-widget-content .widget-your-network .my-profile .edit-profile {
        border: none;
        padding: 0 0 0 5px;
        margin: 0; }
        #wb-main-in .elgg-widget-content .widget-your-network .my-profile .edit-profile a {
          color: #335075;
          font-size: 1em;
          margin: 0 0 4px 0;
          padding: 0;
          display: block; }
        #wb-main-in .elgg-widget-content .widget-your-network .my-profile .edit-profile a:nth-of-type(4) {
          white-space: nowrap; }
    #wb-main-in .elgg-widget-content #widget-my-resources > div {
      display: none; }
    #wb-main-in .elgg-widget-content #widget-my-resources > div.filter-select, #wb-main-in .elgg-widget-content #widget-my-resources div.selected {
      display: block; }
    #wb-main-in .elgg-widget-content ul li {
      margin-bottom: .375rem; }
      #wb-main-in .elgg-widget-content ul li a {
        color: #335075;
        font-size: 1rem; }
    #wb-main-in .elgg-widget-content .elgg-list-river {
      padding: 10px; }
      #wb-main-in .elgg-widget-content .elgg-list-river li {
        line-height: 1.5; }
    #wb-main-in .elgg-widget-content .col-1 {
      width: 50%;
      float: left;
      position: relative;
      overflow: visible; }
      #wb-main-in .elgg-widget-content .col-1 .drop {
        display: block;
        text-align: center;
        vertical-align: top;
        margin-top: 17px;
        text-decoration: none;
        font-size: 2.369em; }
      #wb-main-in .elgg-widget-content .col-1 div.dropdown {
        display: none;
        z-index: 99999999999;
        overflow: visible;
        position: absolute;
        background: #fff;
        border: 1px solid gray !important;
        padding: 12px 36px 12px 12px; }
    #wb-main-in .elgg-widget-content #widget-welcome {
      font-weight: normal; }
      #wb-main-in .elgg-widget-content #widget-welcome > h2 {
        width: auto;
        float: left;
        color: #191919;
        font-size: 1.5rem;
        margin-top: .375rem; }
      #wb-main-in .elgg-widget-content #widget-welcome > ul {
        margin: .375rem 0 1.625rem .75rem;
        float: left; }
        #wb-main-in .elgg-widget-content #widget-welcome > ul li {
          margin: 0;
          background: #DBDBDB;
          float: left;
          border-top: 3px solid #DBDBDB;
          color: rgba(102, 102, 102, 0.8);
          font-weight: normal; }
          #wb-main-in .elgg-widget-content #widget-welcome > ul li a {
            margin: 0;
            padding: .625rem 1.625rem;
            display: inline-block;
            color: inherit;
            font-size: 1rem;
            text-decoration: none;
            font-weight: inherit; }
        #wb-main-in .elgg-widget-content #widget-welcome > ul li.selected, #wb-main-in .elgg-widget-content #widget-welcome > ul li:hover {
          background: whitesmoke;
          color: #111;
          font-weight: normal;
          border-top: 3px solid #335075; }
      #wb-main-in .elgg-widget-content #widget-welcome .index-search input[type='text'] {
        background: whitesmoke;
        font-weight: 700;
        float: left;
        width: 80%;
        margin: 0;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid #DBDBDB;
        padding: 5px 0 5px 10px;
        box-shadow: 2px 2px 1px 0px #666 inset; }
      #wb-main-in .elgg-widget-content #widget-welcome .index-search input[type='text']:focus {
        box-shadow: 2px 2px 1px 0px #666 inset; }
      #wb-main-in .elgg-widget-content #widget-welcome .index-search .index-search-submit {
        background: #335075;
        color: #fff !important;
        height: 44px;
        margin: 0;
        border: 2px solid #335075;
        border-radius: 0;
        font-size: .87rem;
        font-weight: 300;
        box-shadow: none; }
      #wb-main-in .elgg-widget-content #widget-welcome .index-search .index-search-submit:hover {
        background: whitesmoke;
        color: #335075 !important; }
      #wb-main-in .elgg-widget-content #widget-welcome .index-search .index-search-submit:active {
        transform: none; }
      #wb-main-in .elgg-widget-content #widget-welcome #search-options {
        margin: 1rem 0; }
        #wb-main-in .elgg-widget-content #widget-welcome #search-options label {
          display: block;
          padding-left: 15px;
          text-indent: -15px;
          line-height: 1;
          margin-bottom: 10px;
          font-weight: normal; }
        #wb-main-in .elgg-widget-content #widget-welcome #search-options input {
          width: 13px;
          height: 13px;
          min-height: 0px !important;
          padding: 0;
          margin: 0;
          vertical-align: bottom;
          position: relative;
          top: -1px;
          *overflow: hidden; }
      #wb-main-in .elgg-widget-content #widget-welcome .widget-welcome-content {
        clear: left; }
        #wb-main-in .elgg-widget-content #widget-welcome .widget-welcome-content > div {
          display: none;
          margin: 0; }
        #wb-main-in .elgg-widget-content #widget-welcome .widget-welcome-content > div.active, #wb-main-in .elgg-widget-content #widget-welcome .widget-welcome-content > div#ajax-form {
          display: block; }
        #wb-main-in .elgg-widget-content #widget-welcome .widget-welcome-content .widget-button {
          float: left; }
    #wb-main-in .elgg-widget-content .col-1:first-child {
      width: 49%;
      border-right: 1px solid black;
      margin: 0; }
    #wb-main-in .elgg-widget-content .col-1:last-child {
      height: 100%; }

.ui-dialog.ui-widget {
  background: #fff !important;
  z-index: 9999 !important; }

#dialog-new-feature {
  background: #fff; }

/*
** END OF WIDGET STYLES
****************************/
.elgg-page form input[type="text"], .elgg-page select {
  height: 44px; }

#wb-main-in .elgg-button-submit, .elgg-button-submit, #wb-main-in .elgg-button-delete, #wb-main-in .elgg-button-action, input[type='submit'], input[type='reset'] {
  padding: .6em 1.3em !important;
  border-radius: 5px;
  -webkit-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s; }

#wb-main-in .elgg-button-submit, #wb-main-in .elgg-button-delete, #wb-main-in .elgg-button-action, input[type='submit'], input[type='reset'] {
  font-weight: 700;
  background: #335075;
  border: 0;
  color: #fff !important;
  text-shadow: none;
  display: inline-block !important;
  text-decoration: none;
  position: relative;
  margin-right: 12px;
  -webkit-box-shadow: 1px 0px #1D2D42, 0px 1px #283F5B, 2px 1px #1D2D42, 1px 2px #283F5B, 3px 2px #1D2D42, 2px 3px #283F5B, 4px 3px #1D2D42, 3px 4px #283F5B;
  box-shadow: 1px 0px #1D2D42, 0px 1px #283F5B, 2px 1px #1D2D42, 1px 2px #283F5B, 3px 2px #1D2D42, 2px 3px #283F5B, 4px 3px #1D2D42, 3px 4px #283F5B; }
  #wb-main-in .elgg-button-submit:active, #wb-main-in .elgg-button-delete:active, #wb-main-in .elgg-button-action:active, input[type='submit']:active, input[type='reset']:active {
    -ms-transform: translate(2px, 2px);
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
    -webkit-box-shadow: 1px 0px #1D2D42, 0px 1px #283F5B, 2px 1px #1D2D42, 1px 2px #283F5B;
    box-shadow: 1px 0px #1D2D42, 0px 1px #283F5B, 2px 1px #1D2D42, 1px 2px #283F5B; }
  #wb-main-in .elgg-button-submit:last-child, #wb-main-in .elgg-button-delete:last-child, #wb-main-in .elgg-button-action:last-child, input[type='submit']:last-child, input[type='reset']:last-child {
    margin-right: 0; }

.elgg-module-walledgarden .elgg-col {
  padding: 1rem 0 1rem 15px; }
.elgg-module-walledgarden h1.elgg-heading-walledgarden {
  border: none !important;
  text-indent: 0;
  height: auto !important; }
.elgg-module-walledgarden .warning-message {
  margin: 30px 10% 30px 0; }
.elgg-module-walledgarden div h3, .elgg-module-walledgarden div h2 {
  color: #111;
  margin-bottom: 15px; }
.elgg-module-walledgarden div h2 {
  font-size: 1.8em; }
.elgg-module-walledgarden div h3 {
  font-size: 1.5em; }
.elgg-module-walledgarden div h4 {
  font-size: 1.3em; }

/**
** Forum Styles
*****************************************/
#filter-dropdown {
  margin: 25px 0 25px 0; }
  #filter-dropdown > a, #filter-dropdown span {
    font-size: 16px; }
  #filter-dropdown a {
    padding: 5px; }
  #filter-dropdown ul {
    display: none;
    margin: 2px 0px 10px 119px;
    border: 1px solid #DBDBDB;
    border-top: none;
    padding-top: 13px; }
    #filter-dropdown ul li {
      margin-bottom: 5px; }
    #filter-dropdown ul a:hover {
      text-decoration: underline; }
  #filter-dropdown > a {
    text-decoration: none;
    border: 1px solid #DBDBDB; }
  #filter-dropdown > a:after {
    margin-left: 4px;
    content: "\25BC";
    font-size: 10px; }
  #filter-dropdown > a:hover:after {
    visibility: visible; }

#filter-dropdown.blog-filter {
  margin-top: 5px; }
  #filter-dropdown.blog-filter ul {
    margin-left: 106px; }

/**
** TOOLTIP STYLES
*****************************************/
a.tooltip-icon {
  position: absolute !important;
  top: 5px;
  right: 5px;
  padding: 0 !important; }
  a.tooltip-icon .fa {
    font-size: 18px;
    color: #335075; }

a.tooltip {
  position: relative;
  display: inline;
  z-index: 1; }
  a.tooltip img {
    width: 14px;
    height: 14px; }

a.tooltip:after {
  display: block;
  visibility: hidden;
  position: absolute;
  bottom: 0;
  right: 20%;
  opacity: 0;
  content: attr(data-tool);
  /* might also use attr(title) */
  height: auto;
  min-width: 120px;
  padding: 5px 8px;
  z-index: 9999;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  text-align: left;
  background: black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

a.tooltip:before {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
  right: 50%;
  bottom: 0px;
  opacity: 0;
  content: "";
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: black transparent transparent transparent; }

a.tooltip:hover:after {
  visibility: visible;
  opacity: 1;
  bottom: 54px; }

a.tooltip:hover:before {
  visibility: visible;
  opacity: 1;
  bottom: 48px; }

a.tooltip:not(.tip-active):hover:after {
  visibility: hidden;
  opacity: 1;
  bottom: 40px; }

a.tooltip:not(.tip-active):hover:before {
  visibility: hidden;
  opacity: 1;
  bottom: 34px; }

a.tooltip.bottom:after {
  bottom: auto;
  top: 0; }

a.tooltip.bottom:hover:after {
  top: 28px; }

a.tooltip.bottom:before {
  border-width: 0 5px 8.7px 5px;
  border-color: transparent transparent rgba(0, 0, 0, 0.85) transparent;
  top: 0px; }

a.tooltip.bottom:hover:before {
  top: 20px; }

/** MOBILE STYLES **/
@media screen and (max-width: 1200px) {
  #wb-core-in, #wb-main, #gcwu-psnb-in, #gcwu-psnb .mb-menu {
    width: 100% !important; } }
@media screen and (max-width: 981px) {
  ul#activity-filter {
    width: 30%;
    display: block;
    vertical-align: top;
    float: left; }
    ul#activity-filter li {
      width: 99%;
      border-top: none !important;
      border-left: 3px solid #DBDBDB; }
      ul#activity-filter li a {
        padding: .6em 1em !important; }
    ul#activity-filter li.active, ul#activity-filter li:hover {
      border-top: none !important;
      border-left: 3px solid #335075; }

  div#activity-feed {
    width: 70%;
    display: block;
    float: left; } }
@media screen and (max-width: 768px) {
  #wb-main-in .elgg-widget-content #widget-welcome > h2 {
    margin-bottom: .41rem; }
  #wb-main-in .elgg-widget-content #widget-welcome > ul {
    clear: left;
    margin: 0 0 1.25rem; }

  #wb-main-in .elgg-widget-content #widget-welcome .index-search input[type='text'] {
    width: 100%;
    float: none;
    box-shadow: 2px 2px 1px 0px #666 inset, -2px 2px 1px 0px #666 inset; }
  #wb-main-in .elgg-widget-content #widget-welcome .index-search-submit {
    float: right;
    margin-bottom: 1rem !important; }
  #wb-main-in .elgg-widget-content #widget-welcome #search-options {
    clear: both; } }
@media screen and (max-width: 768px) {
  #wb-main-in .elgg-menu-owner-block li, #wb-main-in .elgg-menu-page li {
    margin: 12px; }
  #wb-main-in .elgg-page-default {
    display: block !important; }

  .elgg-module-walledgarden .elgg-col-1of2 {
    padding: 0 2em; } }
@media screen and (max-width: 691px) {
  #wb-main-in .my-profile .profile-avatar {
    max-width: 150px; }
  #wb-main-in .widget-your-network ul li a {
    font-size: 1.375rem !important; } }
@media screen and (max-width: 568px) {
  #wb-main-in .elgg-widget-content #widget-welcome > ul li a {
    font-size: .875rem;
    padding: .625rem 1.25rem; }
  #wb-main-in ul#activity-filter {
    width: 33%; }
    #wb-main-in ul#activity-filter li a {
      font-size: .875rem !important;
      padding: .6em !important; }
  #wb-main-in div#activity-feed {
    width: 67%; }
    #wb-main-in div#activity-feed .elgg-list-river li {
      font-size: .75rem; }
      #wb-main-in div#activity-feed .elgg-list-river li a {
        font-size: .875rem !important; } }
@media screen and (min-width: 240px) {
  #start-tour, #bookmark {
    background: url("../graphics/question_mark_mobile.png") center center;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 92px;
    right: 15px;
    color: #335075;
    font-size: 1.333em;
    letter-spacing: .01em;
    font-weight: 500; }
    #start-tour .fa, #bookmark .fa {
      font-size: 1.333em; }
    #start-tour img, #bookmark img {
      width: 24px;
      height: 24px; }

  .elgg-icon-add-bookmark {
    background: url("../graphics/star.png") center center !important;
    background-size: cover !important; }

  .elgg-module-walledgarden h1.elgg-heading-walledgarden {
    display: block !important; }
  .elgg-module-walledgarden .elgg-col-1of2 {
    width: 100%; }

  #wb-head-in #gcwu-psnb li {
    float: none; }
    #wb-head-in #gcwu-psnb li a {
      color: #fff;
      background: none; }

  #wb-main-in .elgg-col-1of3 {
    width: 100%;
    min-height: 200px !important; }
  #wb-main-in #widget-manager-multi-dashboard-tabs {
    position: static; }
  #wb-main-in #elgg-widget-col-1, #wb-main-in #elgg-widget-col-2, #wb-main-in #elgg-widget-col-3 {
    width: 100%;
    clear: left; }
  #wb-main-in .my-profile .edit-profile a {
    font-size: 1.375rem !important;
    margin-bottom: 15px !important; } }
@media screen and (min-width: 376px) {
  #wb-head-in #gcwu-psnb li {
    float: left;
    clear: none; } }
@media screen and (min-width: 690px) and (max-width: 1125px) {
  #wb-main-in #elgg-widget-col-1, #wb-main-in #elgg-widget-col-3 {
    width: 30%; }
  #wb-main-in #elgg-widget-col-2 {
    width: 70%;
    clear: none; }
  #wb-main-in .my-profile .edit-profile a {
    font-size: .875rem !important;
    margin-bottom: 4px !important; } }
@media screen and (min-width: 768px) {
  .elgg-module-walledgarden .elgg-col-1of2 {
    width: 48%; }

  #wb-main-in .elgg-col-1of3 {
    width: 50%; }
  #wb-main-in #widget-manager-multi-dashboard-tabs {
    position: absolute; } }
@media screen and (min-width: 961px) {
  #start-tour, #bookmark {
    background: url("../graphics/question_mark.png") center center;
    background-size: cover;
    top: 17px;
    z-index: 999; }

  #bookmark {
    background: url("../graphics/star.png") center center;
    background-size: cover; } }
@media screen and (min-width: 1126px) {
  #wb-main-in .elgg-col-1of3 {
    width: 33.33%; }
  #wb-main-in #elgg-widget-col-1, #wb-main-in #elgg-widget-col-3 {
    width: 18%;
    clear: none; }
  #wb-main-in #elgg-widget-col-3 {
    width: 22%; }
  #wb-main-in #elgg-widget-col-2 {
    width: 60%;
    clear: none; }
  #wb-main-in .index-search-submit {
    width: 17% !important; }
  #wb-main-in .my-profile .edit-profile a {
    font-size: .875rem !important;
    margin-bottom: 4px !important; } }

/*# sourceMappingURL=styles.css.map */
